.bg_highlight_1, .bg_highlight_1 .bg_highlight {
	background-color: var(--color-highlight-1) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_2, .bg_highlight_2 .bg_highlight {
	background-color: var(--color-highlight-2) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_3, .bg_highlight_3 .bg_highlight {
	background-color: var(--color-highlight-3) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_4, .bg_highlight_4 .bg_highlight {
	background-color: var(--color-highlight-4) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_5, .bg_highlight_5 .bg_highlight {
	background-color: var(--color-highlight-5) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_6, .bg_highlight_6 .bg_highlight {
	background-color: var(--color-highlight-6) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_7, .bg_highlight_7 .bg_highlight {
	background-color: var(--color-highlight-7) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_8, .bg_highlight_8 .bg_highlight {
	background-color: var(--color-highlight-8) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_9, .bg_highlight_9 .bg_highlight {
	background-color: var(--color-highlight-9) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_10, .bg_highlight_10 .bg_highlight {
	background-color: var(--color-highlight-10) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_11, .bg_highlight_11 .bg_highlight {
	background-color: var(--color-highlight-11) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_12, .bg_highlight_12 .bg_highlight {
	background-color: var(--color-highlight-12) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_13, .bg_highlight_13 .bg_highlight {
	background-color: var(--color-highlight-13) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_14, .bg_highlight_14 .bg_highlight {
	background-color: var(--color-highlight-14) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_15, .bg_highlight_15 .bg_highlight {
	background-color: var(--color-highlight-15) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_16, .bg_highlight_16 .bg_highlight {
	background-color: var(--color-highlight-16) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_17, .bg_highlight_17 .bg_highlight {
	background-color: var(--color-highlight-17) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_18, .bg_highlight_18 .bg_highlight {
	background-color: var(--color-highlight-18) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.bg_highlight_19, .bg_highlight_19 .bg_highlight {
	background-color: var(--color-highlight-19) !important;
	background-image: linear-gradient(rgba(var(--rgb-light), 0.1) 0%, rgba(var(--rgb-light), 0) 100%) !important;
}
.fg_highlight_1, .fg_highlight_1 .fg_highlight {
	color: var(--color-highlight-1) !important;
}
.fg_highlight_2, .fg_highlight_2 .fg_highlight {
	color: var(--color-highlight-2) !important;
}
.fg_highlight_3, .fg_highlight_3 .fg_highlight {
	color: var(--color-highlight-3) !important;
}
.fg_highlight_4, .fg_highlight_4 .fg_highlight {
	color: var(--color-highlight-4) !important;
}
.fg_highlight_5, .fg_highlight_5 .fg_highlight {
	color: var(--color-highlight-5) !important;
}
.fg_highlight_6, .fg_highlight_6 .fg_highlight {
	color: var(--color-highlight-6) !important;
}
.fg_highlight_7, .fg_highlight_7 .fg_highlight {
	color: var(--color-highlight-7) !important;
}
.fg_highlight_8, .fg_highlight_8 .fg_highlight {
	color: var(--color-highlight-8) !important;
}
.fg_highlight_9, .fg_highlight_9 .fg_highlight {
	color: var(--color-highlight-9) !important;
}
.fg_highlight_10, .fg_highlight_10 .fg_highlight {
	color: var(--color-highlight-10) !important;
}
.fg_highlight_11, .fg_highlight_11 .fg_highlight {
	color: var(--color-highlight-11) !important;
}
.fg_highlight_12, .fg_highlight_12 .fg_highlight {
	color: var(--color-highlight-12) !important;
}
.fg_highlight_13, .fg_highlight_13 .fg_highlight {
	color: var(--color-highlight-13) !important;
}
.fg_highlight_14, .fg_highlight_14 .fg_highlight {
	color: var(--color-highlight-14) !important;
}
.fg_highlight_15, .fg_highlight_15 .fg_highlight {
	color: var(--color-highlight-15) !important;
}
.fg_highlight_16, .fg_highlight_16 .fg_highlight {
	color: var(--color-highlight-16) !important;
}
.fg_highlight_17, .fg_highlight_17 .fg_highlight {
	color: var(--color-highlight-17) !important;
}
.fg_highlight_18, .fg_highlight_18 .fg_highlight {
	color: var(--color-highlight-18) !important;
}
.fg_highlight_19, .fg_highlight_19 .fg_highlight {
	color: var(--color-highlight-19) !important;
}
.fill_highlight_1 * {
	fill: var(--color-highlight-1) !important;
}
.fill_highlight_2 * {
	fill: var(--color-highlight-2) !important;
}
.fill_highlight_3 * {
	fill: var(--color-highlight-3) !important;
}
.fill_highlight_4 * {
	fill: var(--color-highlight-4) !important;
}
.fill_highlight_5 * {
	fill: var(--color-highlight-5) !important;
}
.fill_highlight_6 * {
	fill: var(--color-highlight-6) !important;
}
.fill_highlight_7 * {
	fill: var(--color-highlight-7) !important;
}
.fill_highlight_8 * {
	fill: var(--color-highlight-8) !important;
}
.fill_highlight_9 * {
	fill: var(--color-highlight-9) !important;
}
.fill_highlight_10 * {
	fill: var(--color-highlight-10) !important;
}
.fill_highlight_11 * {
	fill: var(--color-highlight-11) !important;
}
.fill_highlight_12 * {
	fill: var(--color-highlight-12) !important;
}
.fill_highlight_13 * {
	fill: var(--color-highlight-13) !important;
}
.fill_highlight_14 * {
	fill: var(--color-highlight-14) !important;
}
.fill_highlight_15 * {
	fill: var(--color-highlight-15) !important;
}
.fill_highlight_16 * {
	fill: var(--color-highlight-16) !important;
}
.fill_highlight_17 * {
	fill: var(--color-highlight-17) !important;
}
.fill_highlight_18 * {
	fill: var(--color-highlight-18) !important;
}
.fill_highlight_19 * {
	fill: var(--color-highlight-19) !important;
}
.stroke_highlight_1 * {
	stroke: var(--color-highlight-1) !important;
}
.stroke_highlight_2 * {
	stroke: var(--color-highlight-2) !important;
}
.stroke_highlight_3 * {
	stroke: var(--color-highlight-3) !important;
}
.stroke_highlight_4 * {
	stroke: var(--color-highlight-4) !important;
}
.stroke_highlight_5 * {
	stroke: var(--color-highlight-5) !important;
}
.stroke_highlight_6 * {
	stroke: var(--color-highlight-6) !important;
}
.stroke_highlight_7 * {
	stroke: var(--color-highlight-7) !important;
}
.stroke_highlight_8 * {
	stroke: var(--color-highlight-8) !important;
}
.stroke_highlight_9 * {
	stroke: var(--color-highlight-9) !important;
}
.stroke_highlight_10 * {
	stroke: var(--color-highlight-10) !important;
}
.stroke_highlight_11 * {
	stroke: var(--color-highlight-11) !important;
}
.stroke_highlight_12 * {
	stroke: var(--color-highlight-12) !important;
}
.stroke_highlight_13 * {
	stroke: var(--color-highlight-13) !important;
}
.stroke_highlight_14 * {
	stroke: var(--color-highlight-14) !important;
}
.stroke_highlight_15 * {
	stroke: var(--color-highlight-15) !important;
}
.stroke_highlight_16 * {
	stroke: var(--color-highlight-16) !important;
}
.stroke_highlight_17 * {
	stroke: var(--color-highlight-17) !important;
}
.stroke_highlight_18 * {
	stroke: var(--color-highlight-18) !important;
}
.stroke_highlight_19 * {
	stroke: var(--color-highlight-19) !important;
}
