:root {
  --value-scale: 1;
  --value-rem: 14px;
  --value-radius: 0px;
  --value-grid-rows: 8;
  --value-opacity: 0.7;
  --value-grid-cols: 19;
  --value-grid-gap: 15px;
  --value-grid-unit: 80px;
  --value-grid-cols-half: 10;
  --value-font-shadow: 0 1px 2px rgba(0,0,0,0.3);
  --value-box-shadow: 0 2px 7px rgba(0,0,0,0.2);
  --value-font-mono: 'Source Code Pro', 'Dank Mono', 'Material Design Icons Desktop', monospace;
  --value-font-standard: 'Poppins', 'Material Design Icons Desktop', sans-serif;

  --animation-slow: 300ms linear;
  --animation-fast: 100ms ease-out;

  --color-1:  #23292F;
  --color-2:  #2B3137;
  --color-3:  #444d56;
  --color-4:  #586069;
  --color-5:  #d1d5da;
  --color-6:  #e1e4e8;
  --color-7:  #f6f8fa;
  --color-8:  #fafbfc;
  --color-9:  #d73a49;
  --color-10: #ea4a5a;
  --color-11: #f66a0a;
  --color-12: #ffd33d;
  --color-13: #34d058;
  --color-14: #bef5cb;
  --color-15: #85e89d;
  --color-16: #c8e1ff;
  --color-17: #79b8ff;
  --color-18: #2188ff;
  --color-19: #005cc5;
  --color-20: #6f42c1;
  --color-21: #8a63d2;
  --color-22: #b392f0;
  --color-23: #4c2889;
  --color-24: #ea4aaa;
  --color-25: #f692ce;
  --color-26: #f9b3dd;

  --rgb-1:  35,41,47;
  --rgb-2:  43,49,55;
  --rgb-3:  68,77,86;
  --rgb-4:  88,96,105;
  --rgb-5:  149,157,165;
  --rgb-6:  209,213,218;
  --rgb-7:  246,248,250;
  --rgb-8:  250,251,252;
  --rgb-9:  215,58,73;
  --rgb-10: 234,74,90;
  --rgb-11: 246,106,10;
  --rgb-12: 255,211,61;
  --rgb-13: 52,208,88;
  --rgb-14: 190,245,203;
  --rgb-15: 133,232,157;
  --rgb-16: 200,225,255;
  --rgb-17: 121,184,255;
  --rgb-18: 33,136,255;
  --rgb-19: 0,92,197;
  --rgb-20: 111,66,193;
  --rgb-21: 138,99,210;
  --rgb-22: 179,146,240;
  --rgb-23: 76,40,137;
  --rgb-24: 234,74,170;
  --rgb-25: 246,146,206;
  --rgb-26: 249,179,221;

  --rgb-light: var(--rgb-8);
  --color-dark: var(--color-1);
  --color-text: var(--color-8);
  --color-light: var(--color-8);
  --color-text-alt: var(--color-2);

  --color-panel-alt: var(--color-6);
  --color-dim: rgba(var(--rgb-1), 0.3);
  --color-panel-border: rgba(0,0,0,0.1);
  --color-panel-border-light: rgba(var(--rgb-8), 0.1);
  --color-shade: rgba(var(--rgb-4), var(--value-opacity));
  --color-panel: var(--color-2);
    
  --color-button-bg: var(--color-3);
  --color-button-fg: var(--color-6);
  --color-slider-bg: rgba(0,0,0,0.3);
  
  --color-highlight-1: var(--color-9);
  --color-highlight-2: var(--color-10);
  --color-highlight-3: var(--color-11);
  --color-highlight-4: var(--color-12);
  --color-highlight-5: var(--color-13);
  --color-highlight-6: var(--color-14);
  --color-highlight-7: var(--color-15);
  --color-highlight-8: var(--color-16);
  --color-highlight-9: var(--color-17);
  --color-highlight-10: var(--color-18);
  --color-highlight-11: var(--color-19);
  --color-highlight-12: var(--color-20);
  --color-highlight-13: var(--color-21);
  --color-highlight-14: var(--color-22);
  --color-highlight-15: var(--color-23);
  --color-highlight-16: var(--color-24);
  --color-highlight-17: var(--color-25);
  --color-highlight-18: var(--color-26);
  --color-highlight-19: var(--color-8);
  --rgb-highlight-1: var(--rgb-9);
  --rgb-highlight-2: var(--rgb-10);
  --rgb-highlight-3: var(--rgb-11);
  --rgb-highlight-4: var(--rgb-12);
  --rgb-highlight-5: var(--rgb-13);
  --rgb-highlight-6: var(--rgb-14);
  --rgb-highlight-7: var(--rgb-15);
  --rgb-highlight-8: var(--rgb-16);
  --rgb-highlight-9: var(--rgb-17);
  --rgb-highlight-10: var(--rgb-18);
  --rgb-highlight-11: var(--rgb-19);
  --rgb-highlight-12: var(--rgb-20);
  --rgb-highlight-13: var(--rgb-21);
  --rgb-highlight-14: var(--rgb-22);
  --rgb-highlight-15: var(--rgb-23);
  --rgb-highlight-16: var(--rgb-24);
  --rgb-highlight-17: var(--rgb-25);
  --rgb-highlight-18: var(--rgb-26);
  --rgb-highlight-19: var(--rgb-8);
}